@font-face {
    font-family: 'Review Condensed';
    src: url('/fonts/ReviewCondensed/ReviewCondensed-Medium.woff2') format('woff2'),
        url('/fonts/ReviewCondensed/ReviewCondensed-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Review Condensed';
    src: url('/fonts/ReviewCondensed/ReviewCondensed-Light.woff2') format('woff2'),
        url('/fonts/ReviewCondensed/ReviewCondensed-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Review Condensed';
    src: url('/fonts/ReviewCondensed/ReviewCondensed-Regular.woff2') format('woff2'),
        url('/fonts/ReviewCondensed/ReviewCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Review Condensed';
    src: url('/fonts/ReviewCondensed/ReviewCondensed-Bold.woff2') format('woff2'),
        url('/fonts/ReviewCondensed/ReviewCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

