---
import Layout from '../layouts/Layout.astro';
import Project from '../components/Project.astro';
import Client from '../components/Client.astro';
import Contacto from '../components/Contacto.astro';
---

<Layout title="Welcome to Lab+sourcing">
  <main class="w-full min-h-dvh">
    <Project />
    <Client />
    <Contacto />
  </main>
</Layout>
