<!-- ---
import { Image } from 'astro:assets';
import
--- -->

<section id="clientes" class="py-24">
    <div class="w-11/12 mx-auto">
      <h2 class="text-fluid-xl font-normal mb-0">Our Best Clients</h2>
      <p class="text-fluid-sm mb-12">We are proud to work with leading clients who trust us to deliver excellence.</p>
      <div class="overflow-hidden relative w-full">
        <div class="marquee flex gap-10 overflow-hidden mb-8" data-reversed="false">
            <div class="marquee-item w-[250px] flex justify-center items-center px-4 py-8 flex-shrink-0 bg-slate-200 rounded-3xl">
              <img width="176" height="40" src="https://assets.codepen.io/162656/marquee-logo1.svg" alt="client logo" />

            </div>
            <div class="marquee-item w-[250px] flex justify-center items-center px-4 py-8 flex-shrink-0 bg-slate-200 rounded-3xl">
              <img width="186" height="41" src="https://assets.codepen.io/162656/marquee-logo2.svg" alt="client logo" />
            </div>
            <div class="marquee-item w-[250px] flex justify-center items-center px-4 py-8 flex-shrink-0 bg-slate-200 rounded-3xl">
              <img width="138" height="36" src="https://assets.codepen.io/162656/marquee-logo3.svg" alt="client logo" />
            </div>
            <div class="marquee-item w-[250px] flex justify-center items-center px-4 py-8 flex-shrink-0 bg-slate-200 rounded-3xl">
              <img width="138" height="30" src="https://assets.codepen.io/162656/marquee-logo4.svg" alt="client logo" />
            </div>
            <div class="marquee-item w-[250px] flex justify-center items-center px-4 py-8 flex-shrink-0 bg-slate-200 rounded-3xl">
              <img width="169" height="40" src="https://assets.codepen.io/162656/marquee-logo5.svg" alt="client logo" />
            </div>
            <div class="marquee-item w-[250px] flex justify-center items-center px-4 py-8 flex-shrink-0 bg-slate-200 rounded-3xl">
              <img width="109" height="43" src="https://assets.codepen.io/162656/marquee-logo6.svg" alt="client logo" />
            </div>
            <div class="marquee-item w-[250px] flex justify-center items-center px-4 py-8 flex-shrink-0 bg-slate-200 rounded-3xl">
              <img width="73" height="49" src="https://assets.codepen.io/162656/marquee-logo7.svg" alt="client logo" />
            </div>
            <div class="marquee-item w-[250px] flex justify-center items-center px-4 py-8 flex-shrink-0 bg-slate-200 rounded-3xl">
              <img width="127" height="39" src="https://assets.codepen.io/162656/marquee-logo8.svg" alt="client logo" />
            </div>
            <div class="marquee-item w-[250px] flex justify-center items-center px-4 py-8 flex-shrink-0 bg-slate-200 rounded-3xl">
              <img width="49" height="48" src="https://assets.codepen.io/162656/marquee-logo9.svg" alt="" />
            </div>
            <div class="marquee-item w-[250px] flex justify-center items-center px-4 py-8 flex-shrink-0 bg-slate-200 rounded-3xl">
              <img width="161" height="44" src="https://assets.codepen.io/162656/marquee-logo10.svg" alt="client logo" />
            </div>
            <div class="marquee-item w-[250px] flex justify-center items-center px-4 py-8 flex-shrink-0 bg-slate-200 rounded-3xl">
              <img width="160" height="46" src="https://assets.codepen.io/162656/marquee-logo11.svg" alt="client logo" />
            </div>
            <div class="marquee-item w-[250px] flex justify-center items-center px-4 py-8 flex-shrink-0 bg-slate-200 rounded-3xl">
              <img width="167" height="41" src="https://assets.codepen.io/162656/marquee-logo12.svg" alt="client logo" />
            </div>
            <div class="marquee-item w-[250px] flex justify-center items-center px-4 py-8 flex-shrink-0 bg-slate-200 rounded-3xl">
              <img width="125" height="40" src="https://assets.codepen.io/162656/marquee-logo13.svg" alt="" />
            </div>
            <div class="marquee-item w-[250px] flex justify-center items-center px-4 py-8 flex-shrink-0 bg-slate-200 rounded-3xl">
              <img width="170" height="41" src="https://assets.codepen.io/162656/marquee-logo14.svg" alt="client logo">
            </div>
        </div>
        <div class="marquee flex gap-10 overflow-hidden" data-reversed="true">
            <div class="marquee-item w-[250px] flex justify-center items-center px-4 py-8 flex-shrink-0 bg-slate-200 rounded-3xl">
                <img width="176" height="40" src="https://assets.codepen.io/162656/marquee-logo1.svg" alt="client logo" />
            </div>
            <div class="marquee-item w-[250px] flex justify-center items-center px-4 py-8 flex-shrink-0 bg-slate-200 rounded-3xl">
            <img width="186" height="41" src="https://assets.codepen.io/162656/marquee-logo2.svg" alt="client logo" />
            </div>
            <div class="marquee-item w-[250px] flex justify-center items-center px-4 py-8 flex-shrink-0 bg-slate-200 rounded-3xl">
            <img width="138" height="36" src="https://assets.codepen.io/162656/marquee-logo3.svg" alt="client logo" />
            </div>
            <div class="marquee-item w-[250px] flex justify-center items-center px-4 py-8 flex-shrink-0 bg-slate-200 rounded-3xl">
            <img width="138" height="30" src="https://assets.codepen.io/162656/marquee-logo4.svg" alt="client logo" />
            </div>
            <div class="marquee-item w-[250px] flex justify-center items-center px-4 py-8 flex-shrink-0 bg-slate-200 rounded-3xl">
            <img width="169" height="40" src="https://assets.codepen.io/162656/marquee-logo5.svg" alt="client logo" />
            </div>
            <div class="marquee-item w-[250px] flex justify-center items-center px-4 py-8 flex-shrink-0 bg-slate-200 rounded-3xl">
            <img width="109" height="43" src="https://assets.codepen.io/162656/marquee-logo6.svg" alt="client logo" />
            </div>
            <div class="marquee-item w-[250px] flex justify-center items-center px-4 py-8 flex-shrink-0 bg-slate-200 rounded-3xl">
            <img width="73" height="49" src="https://assets.codepen.io/162656/marquee-logo7.svg" alt="client logo" />
            </div>
            <div class="marquee-item w-[250px] flex justify-center items-center px-4 py-8 flex-shrink-0 bg-slate-200 rounded-3xl">
            <img width="127" height="39" src="https://assets.codepen.io/162656/marquee-logo8.svg" alt="client logo" />
            </div>
            <div class="marquee-item w-[250px] flex justify-center items-center px-4 py-8 flex-shrink-0 bg-slate-200 rounded-3xl">
            <img width="49" height="48" src="https://assets.codepen.io/162656/marquee-logo9.svg" alt="" />
            </div>
            <div class="marquee-item w-[250px] flex justify-center items-center px-4 py-8 flex-shrink-0 bg-slate-200 rounded-3xl">
            <img width="161" height="44" src="https://assets.codepen.io/162656/marquee-logo10.svg" alt="client logo" />
            </div>
            <div class="marquee-item w-[250px] flex justify-center items-center px-4 py-8 flex-shrink-0 bg-slate-200 rounded-3xl">
            <img width="160" height="46" src="https://assets.codepen.io/162656/marquee-logo11.svg" alt="client logo" />
            </div>
            <div class="marquee-item w-[250px] flex justify-center items-center px-4 py-8 flex-shrink-0 bg-slate-200 rounded-3xl">
            <img width="167" height="41" src="https://assets.codepen.io/162656/marquee-logo12.svg" alt="client logo" />
            </div>
            <div class="marquee-item w-[250px] flex justify-center items-center px-4 py-8 flex-shrink-0 bg-slate-200 rounded-3xl">
            <img width="125" height="40" src="https://assets.codepen.io/162656/marquee-logo13.svg" alt="" />
            </div>
            <div class="marquee-item w-[250px] flex justify-center items-center px-4 py-8 flex-shrink-0 bg-slate-200 rounded-3xl">
            <img width="170" height="41" src="https://assets.codepen.io/162656/marquee-logo14.svg" alt="client logo">
            </div>
        </div>
      </div>
    </div>
  </section>
  <script type="module" is:client="load">
    import "/src/js/marqueeAnimation.js";
  </script>