<section id="contacto" class="contacto py-24 space-y-8 bg-[#0bc8a8] sticky inset-0">
    <div class="w-11/12 mx-auto">
        <a href="https://api.whatsapp.com/send/?phone=%2B51997151130&text&type=phone_number&app_absent=0" target="_blank" class="inline-block text-fluid-xl text-white transition-all hover:underline">Escríbenos por WhatsApp</a>
        <h2 class="text-fluid-2xl font-semibold uppercase text-white">Work together?</h2>
    </div>
</section>