<div class="cursor-custom fixed top-0 left-0 pointer-events-none z-20 overflow-visible hidden md:block">
    <svg class="overflow-visible" width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="12.5" cy="12.5" r="12.5" stroke="black" stroke-width=".2" fill="white"></circle>
        <text class="cursor-plus hidden font-sans" x="12.5" y="16" text-anchor="middle" font-size="12" font-weight="100" fill="black">+</text>
    </svg>
</div>

<script>
    import gsap from "gsap";

    if (window.innerWidth >= 769) {
        const circle = document.querySelector('.cursor-custom');
        const plusSign = document.querySelector('.cursor-plus');
        const links = document.querySelectorAll('a');

        let isOverContacto = false; // Variable de estado global

        window.addEventListener("mousemove", moveCircle);

        gsap.set(circle, {
            xPercent: -50,
            yPercent: -50
        });

        function moveCircle(e) {
            gsap.set(circle, {
                duration: 0.2,
                x: e.clientX,
                y: e.clientY,
                ease: "power2.out"
            });

            const elementUnderCursor = document.elementFromPoint(e.clientX, e.clientY);

            // Actualizar estado si el cursor está sobre .contacto
            isOverContacto = elementUnderCursor && elementUnderCursor.closest('.contacto');

            if (isOverContacto) {
                gsap.to(circle, {
                    duration: 0.3,
                    scale: 1
                });
            }

            const isOverProject = elementUnderCursor && elementUnderCursor.closest('.project-custom-cursor');
            plusSign.classList.toggle('hidden', !isOverProject);

            const isInsideBlendZone = elementUnderCursor && elementUnderCursor.closest('.header-custom');
            circle.classList.toggle('mix-blend-difference', isInsideBlendZone);
        }

        function linkAnimIn() {
            if (isOverContacto) return; // Bloquear si está en .contacto
            gsap.to(circle, {
                duration: 0.3,
                scale: 4,
                ease: 'sine.out'
            });
        }

        function linkAnimOut() {
            if (isOverContacto) return; // Bloquear si está en .contacto
            gsap.to(circle, {
                duration: 0.3,
                scale: 1,
                ease: 'sine.out'
            });
        }

        links.forEach(link => {
            link.addEventListener('mouseover', linkAnimIn);
            link.addEventListener('mouseout', linkAnimOut);
        });
    }
</script>

