<header class="bg-white">
    <div class="w-11/12 mx-auto min-h-dvh pt-16 pb-16 flex flex-col justify-center items-start space-y-4">
        <a href="/">
            <p class="text-[clamp(2rem,10vw,10vw)] leading-none font-bold overflow-hidden w-full" animate>LAB+SOURCING</p>
        </a>
        <h1 class="sm:text-fluid-2xl text-3xl leading-[normal]">A design and branding studio giving form to new ideas.</h1>
    </div>
</header>

<script type="module" is:client="load">
    import "/src/js/textHeroAnimation.js";
</script>