<header class="bg-white relative z-[10]">
    <div class="w-11/12 mx-auto min-h-dvh pt-16 pb-16 flex flex-col justify-center items-start space-y-4">
        <a href="/" class="w-full header-custom">
            <svg class="text-[clamp(2rem,10vw,10vw)] leading-none overflow-hidden w-full" viewBox="0 0 86 9" fill="none" xmlns="http://www.w3.org/2000/svg" data-animate>
                <path d="M0.47998 8.00001V0.200012H2.45998V6.20001H5.89198V8.00001H0.47998Z" fill="black"/>
                <path d="M6.495 8.00001L9.627 0.200012H11.127L14.259 8.00001H12.159L11.823 7.13601H8.93099L8.595 8.00001H6.495ZM9.615 5.33601H11.127L10.371 3.36801L9.615 5.33601Z" fill="black"/>
                <path d="M14.9761 8.00001V0.200012H18.6481C19.8481 0.200012 20.9761 0.980012 20.9761 2.48001C20.9761 3.17601 20.7361 3.65601 20.3521 3.96801C20.8921 4.30401 21.2641 4.86801 21.2641 5.68401C21.2641 7.17201 20.0281 8.00001 18.8281 8.00001H14.9761ZM16.9561 3.18801H18.3001C18.6841 3.18801 18.9361 2.97201 18.9361 2.58801C18.9361 2.20401 18.6841 2.00001 18.3001 2.00001H16.9561V3.18801ZM16.9561 6.20001H18.5041C18.9601 6.20001 19.2241 5.88801 19.2241 5.50401C19.2241 5.12001 18.9361 4.80801 18.5041 4.80801H16.9561V6.20001Z" fill="black"/>
                <path d="M23.9583 6.66799V4.92799H22.2183V3.36799H23.9583V1.62799H25.5183V3.36799H27.2583V4.92799H25.5183V6.66799H23.9583Z" fill="black"/>
                <path d="M31.6806 8.144C29.7966 8.144 28.5966 7.076 28.2126 6.188L29.7966 5.036C29.9766 5.3 30.9006 6.164 31.9086 6.164C32.5806 6.164 32.6526 5.924 32.6526 5.708C32.6526 5.312 31.6206 5.12 31.1046 4.916C30.5886 4.712 28.5486 4.28 28.5486 2.504C28.5486 0.704 30.1446 0.0559998 31.6806 0.0559998C33.2166 0.0559998 34.5126 0.992 34.8246 1.808L33.2766 2.852C33.0726 2.588 32.3286 2.036 31.4286 2.036C31.0206 2.036 30.8286 2.18 30.8286 2.396C30.8286 2.84 31.8126 3.02 32.3286 3.224C32.8446 3.428 34.8726 3.968 34.8726 5.612C34.8726 7.28 33.5526 8.144 31.6806 8.144Z" fill="black"/>
                <path d="M39.6635 8.096C37.3475 8.096 35.7155 6.416 35.7155 4.1C35.7155 1.784 37.3475 0.104004 39.6635 0.104004C41.9795 0.104004 43.5875 1.784 43.5875 4.1C43.5875 6.416 41.9795 8.096 39.6635 8.096ZM39.6635 6.116C40.8395 6.116 41.6075 5.276 41.6075 4.1C41.6075 2.924 40.8395 2.084 39.6635 2.084C38.4875 2.084 37.6955 2.924 37.6955 4.1C37.6955 5.276 38.4875 6.116 39.6635 6.116Z" fill="black"/>
                <path d="M47.6968 8.09601C45.6928 8.09601 44.6128 6.72801 44.6128 5.21601V0.200012H46.5928V4.98801C46.5928 5.93601 47.1808 6.17601 47.6968 6.17601C48.2128 6.17601 48.8008 5.93601 48.8008 4.98801V0.200012H50.7808V5.21601C50.7808 6.72801 49.7008 8.09601 47.6968 8.09601Z" fill="black"/>
                <path d="M51.9839 8.00001V0.200012H55.8119C56.9639 0.200012 58.2839 1.05201 58.2839 2.88801C58.2839 4.14801 57.6599 4.95201 56.8919 5.33601L58.4639 8.00001H56.1839L54.7679 5.58801H53.9639V8.00001H51.9839ZM53.9639 3.66801H55.4759C55.8839 3.66801 56.3039 3.42801 56.3039 2.88801C56.3039 2.34801 55.8839 2.12001 55.4759 2.12001H53.9639V3.66801Z" fill="black"/>
                <path d="M63.0189 8.096C60.7029 8.096 59.0709 6.416 59.0709 4.1C59.0709 1.784 60.7029 0.104004 63.0189 0.104004C64.3989 0.104004 65.5029 0.704004 66.1749 1.676L64.5909 2.864C64.3029 2.48 63.7269 2.084 63.0189 2.084C61.8429 2.084 61.0509 2.924 61.0509 4.1C61.0509 5.276 61.8429 6.116 63.0189 6.116C63.7269 6.116 64.3029 5.648 64.5909 5.288L66.1749 6.524C65.5029 7.496 64.3989 8.096 63.0189 8.096Z" fill="black"/>
                <path d="M67.0776 8.00001V0.200012H69.0576V8.00001H67.0776Z" fill="black"/>
                <path d="M70.2534 8.00001V0.200012H72.1734L74.8374 4.46001V0.200012H76.8174V8.00001H74.8974L72.2334 3.75201V8.00001H70.2534Z" fill="black"/>
                <path d="M81.851 8.096C79.535 8.096 77.903 6.416 77.903 4.1C77.903 1.784 79.535 0.104004 81.851 0.104004C83.231 0.104004 84.335 0.704004 85.007 1.664L83.411 2.852C82.991 2.276 82.379 2.084 81.851 2.084C80.675 2.084 79.8829 2.924 79.8829 4.1C79.8829 5.276 80.675 6.116 81.851 6.116C82.403 6.116 83.087 5.852 83.303 5.192H81.731V3.392H85.595V4.28C85.511 6.5 84.107 8.096 81.851 8.096Z" fill="black"/>      
            </svg>
        </a>
        <h1 class="text-3xl md:text-5xl xl:text-fluid-2xl md:leading-normal" id="title">Tecnología que conecta, Diseño que impacta, Resultados que transforman.</h1> 
    </div>
</header>

<script>
    import gsap from "gsap";
    // import SplitType from "split-type";
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    import SplitText from "gsap/SplitText";

    // import { Observer } from "gsap/dist/Observer";

    gsap.registerPlugin(ScrollTrigger);
    gsap.registerPlugin(SplitText);

    // Animation for title hero

    window.addEventListener("DOMContentLoaded", () => {
        const element = document.querySelector("[data-animate]");
        const paths = element.querySelectorAll("path");

        gsap.set(paths, { y: "150%", opacity: 1 });

        gsap.to(paths, {
            y: "0%",
            opacity: 1,
            duration: 0.5,
            ease: "power3.out",
            stagger: 0.10,
            scrollTrigger: {
                trigger: element,
                start: "top 80%",
                end: "top 20%",
                toggleActions: "play reverse play reverse",
            },
        });

        document.fonts.ready.then(() => {
            gsap.set("#title", { opacity: 1 });
            let split = SplitText.create("#title", { type: "words", aria: "hidden" });

            gsap.from(split.words, {
                opacity: 0,
                duration: 2,
                ease: "sine.out",
                stagger: 0.1,
            });
        });
    });
</script>