---
import ProjectImage from '../assets/cemento-sol-wp.png';
import { Image } from 'astro:assets';
---

  <section id="proyectos" class="py-24 space-y-8 relative z-[10] bg-white">
    <div class="w-11/12 mx-auto">
      <div class="mb-16">
        <h2 class="text-fluid-xl font-normal">Recent projects</h2>
        <p class="text-fluid-sm">We turn ideas into vision, blending design and technology into meaningful solution</p>
      </div>
      <div class="project-card-block grid grid-cols-1 md:grid-cols-2 gap-x-20 gap-y-32">
        <a href="https://www.cementosol.com.pe/" target="_blank" class="project-card project-custom-cursor">
          <div class="project-image relative bg-slate-200  mb-4 overflow-hidden aspect-square">
            <Image
              src={ProjectImage}
              alt="Project 1"
              widths={[400, 800, 1200]}
              formats={['webp', 'avif']}
              sizes="(max-width: 768px) 100vw, 50vw"
              class="object-contain object-center h-full hover:scale-110 transition-transform duration-300 ease-in-out"
            />
          </div>
          <div class="project-title relative text-fluid-sm">
            <h3 class="inline font-semibold">Cementos Sol</h3>
            <span class="inline"> — </span>
            <p class="inline">Accelerating your next big discovery</p>
          </div>
        </a>
        <a href="https://www.cementosol.com.pe/" target="_blank" class="project-card project-custom-cursor ">
          <div class="project-image relative bg-slate-200  mb-4 overflow-hidden aspect-square">
            <Image
              src={ProjectImage}
              alt="Project 1"
              widths={[400, 800, 1200]}
              formats={['webp', 'avif']}
              sizes="(max-width: 768px) 100vw, 50vw"
              class="object-contain object-center h-full hover:scale-110 transition-transform duration-300 ease-in-out"
            />
          </div>
          <div class="project-title relative text-fluid-sm">
            <h3 class="inline font-semibold">Project title</h3>
            <span class="inline"> — </span>
            <p class="inline">Accelerating your next big discovery</p>
          </div>
        </a>
        <a href="https://www.cementosol.com.pe/" target="_blank" class="project-card project-custom-cursor">
          <div class="project-image relative bg-slate-200  mb-4 overflow-hidden aspect-square">
            <Image
              src={ProjectImage}
              alt="Project 1"
              widths={[400, 800, 1200]}
              formats={['webp', 'avif']}
              sizes="(max-width: 768px) 100vw, 50vw"
              class="object-contain object-center h-full hover:scale-110 transition-transform duration-300 ease-in-out"
            />
          </div>
          <div class="project-title relative text-fluid-sm">
            <h3 class="inline font-semibold">Cementos Sol</h3>
            <span class="inline"> — </span>
            <p class="inline">Accelerating your next big discovery</p>
          </div>
        </a>
        <a href="https://www.cementosol.com.pe/" target="_blank" class="project-card project-custom-cursor ">
          <div class="project-image relative bg-slate-200  mb-4 overflow-hidden aspect-square">
            <Image
              src={ProjectImage}
              alt="Project 1"
              widths={[400, 800, 1200]}
              formats={['webp', 'avif']}
              sizes="(max-width: 768px) 100vw, 50vw"
              class="object-contain object-center h-full hover:scale-110 transition-transform duration-300 ease-in-out"
            />
          </div>
          <div class="project-title relative text-fluid-sm">
            <h3 class="inline font-semibold">Project title</h3>
            <span class="inline"> — </span>
            <p class="inline">Accelerating your next big discovery</p>
          </div>
        </a>
      </div>
    </div>
  </section>