---
import Pexels from '../assets/image-zoom-clippath.webp';
import { Image } from 'astro:assets';
---

<section id="servicios" class="servicespb-24 space-y-8 relative z-[10] bg-white">
    <div class="w-11/12 mx-auto">
        <div class="h-[200vh] min-h-screen relative">
            <div class="hero-img h-[100vh] overflow-hidden will-change-transform">
                <div class="image-wrap w-full h-full overflow-clip will-change-clip-transform">
                    <Image
                        src={Pexels}
                        alt="Pexels"
                        widths={[400, 800, 1200]}
                        formats={['webp', 'avif']}
                        sizes="(max-width: 768px) 100vw, 50vw"
                        class="wide-image object-cover w-full h-full object-center aspect-video will-change-transform"
                    />
                </div>
            </div>
        </div>
    </div>
    <div class="services-content pt-32">
        <div class="w-11/12 mx-auto services-title">
            <h2 class="font-caustenRounded uppercase italic font-bold text-4xl lg:text-fluid-xl lg:leading-normal mb-8 text-fadeIn">_Nuestros servicios</h2>
            <p class="text-base lg:text-fluid-xs lg:leading-normal text-opacity">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi possimus ab eos cum. Aliquam, tenetur voluptatem quia molestiae debitis placeat temporibus sequi itaque fugit earum magnam, harum voluptas ea obcaecati.</p>
        </div>
        <div class="services-wrapper-main w-full pt-32">
            <div class="services-wrapper w-full flex relative overflow-visible z-[2] flex-col">
                <div class="services-card py-20 sticky top-0 z-[1] min-h-[460px] bg-[#0bc8a8] text-white">
                    <div class="w-11/12 mx-auto flex justify-between gap-x-16 gap-y-8 flex-col md:flex-row">
                        <div class="services-card-text">
                            <h2 class="font-caustenRounded uppercase italic font-bold text-4xl lg:text-fluid-xl lg:leading-normal mb-5 xl:mb-8 text-fadeIn">_UX & UI Design</h2>
                            <div class="services-card-info max-w-3xl w-full flex flex-col gap-5 xl:gap-8 text-opacity">
                                <div class="services-card-text">
                                    <p class="text-base lg:text-fluid-xs lg:leading-normal">Aterrizamos las ideas en prototipos (UX) que permitan validar todo el Journey del usuario, una vez validado nuestro equipo de trabajo le da el toque digital generando el diseño final (UI)</p>
                                </div>
                                <div class="services-card-list">
                                    <ol class="flex flex-row flex-wrap gap-y-2 gap-x-4 text-sm lg:text-base lg:leading-normal">
                                        <li>● User Research</li>
                                        <li>● Wireframes & Prototyping</li>
                                        <li>● Design System</li>
                                        <li>● UX Design</li>
                                        <li>● Mobile APP</li>
                                        <li>● Web App Design</li>
                                        <li>● Interaction Design</li>
                                        <li>● Landing Page</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                        <div class="services-card-image max-w-full md:max-w-96 w-full aspect-video md:aspect-square bg-slate-100">
                        </div>
                    </div>
                </div>
                <div class="services-card py-20 sticky top-0 z-[1] min-h-[460px] bg-[#FFE200] text-black">
                    <div class="w-11/12 mx-auto flex justify-between gap-x-16 gap-y-8 flex-col md:flex-row">
                        <div class="services-card-text">
                            <h2 class="font-caustenRounded uppercase italic font-bold text-4xl lg:text-fluid-xl lg:leading-normal mb-5 xl:mb-8 text-fadeIn">_Desarrollo Web</h2>
                            <div class="services-card-info max-w-3xl w-full flex flex-col gap-5 xl:gap-8 text-opacity">
                                <div class="services-card-text">
                                    <p class="text-base lg:text-fluid-xs lg:leading-normal">Ejecutamos el desarrollo web con el framework mas adecuado para el proyecto, garantizando un correcto performance en su uso y las mejores prácticas de las metodologías ágiles.</p>
                                </div>
                                <div class="services-card-list">
                                    <ol class="flex flex-row flex-wrap gap-y-2 gap-x-4 text-sm lg:text-base lg:leading-normal">
                                        <li>● Laravel</li>
                                        <li>● Wordpress</li>
                                        <li>● React</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                        <div class="services-card-image max-w-full md:max-w-96 w-full aspect-video md:aspect-square bg-slate-100">
                        </div>
                    </div>
                </div>
                <div class="services-card py-20 sticky top-0 z-[1] min-h-[460px] bg-[#ffffff] text-black">
                    <div class="w-11/12 mx-auto flex justify-between gap-x-16 gap-y-8 flex-col md:flex-row">
                        <div class="services-card-text">
                            <h2 class="font-caustenRounded uppercase italic font-bold text-4xl lg:text-fluid-xl lg:leading-normal mb-5 xl:mb-8 text-fadeIn">_Desarrollo de Apps</h2>
                            <div class="services-card-info max-w-3xl w-full flex flex-col gap-5 xl:gap-8 text-opacity">
                                <div class="services-card-text">
                                    <p class="text-base lg:text-fluid-xs lg:leading-normal">Ejecutamos esas ideas tanto para Android como iOS, nativo o híbridas, tomando la decisión de acuerdo a tu necesidad, lo que nos permite optimizar tiempos y costos.</p>
                                </div>
                                <div class="services-card-list">
                                    <ol class="flex flex-row flex-wrap gap-y-2 gap-x-4 text-sm lg:text-base lg:leading-normal">
                                        <li>● Android</li>
                                        <li>● iOS</li>
                                        <li>● React Native</li>
                                        <li>● Flutter</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                        <div class="services-card-image max-w-full md:max-w-96 w-full aspect-video md:aspect-square bg-slate-100">
                        </div>
                    </div>
                </div>
                <div class="services-card py-20 sticky top-0 z-[1] min-h-[460px] bg-[#FF6C01] text-black">
                    <div class="w-11/12 mx-auto flex justify-between gap-x-16 gap-y-8 flex-col md:flex-row">
                        <div class="services-card-text">
                            <h2 class="font-caustenRounded uppercase italic font-bold text-4xl lg:text-fluid-xl lg:leading-normal mb-5 xl:mb-8 text-fadeIn">_Marketing Digital</h2>
                            <div class="services-card-info max-w-3xl w-full flex flex-col gap-5 xl:gap-8 text-opacity">
                                <div class="services-card-text">
                                    <p class="text-base lg:text-fluid-xs lg:leading-normal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi possimus ab eos cum. Aliquam, tenetur voluptatem quia molestiae debitis placeat temporibus sequi itaque fugit earum magnam, harum voluptas ea obcaecati.</p>
                                </div>
                            </div>
                        </div>
                        <div class="services-card-image max-w-full md:max-w-96 w-full aspect-video md:aspect-square bg-slate-100">
                        </div>
                    </div>
                </div>
                <div class="services-card py-20 sticky top-0 z-[1] min-h-[460px] bg-[#000000] text-white">
                    <div class="w-11/12 mx-auto flex justify-between gap-x-16 gap-y-8 flex-col md:flex-row">
                        <div class="services-card-text">
                            <h2 class="font-caustenRounded uppercase italic font-bold text-4xl lg:text-fluid-xl lg:leading-normal mb-5 xl:mb-8 text-fadeIn">_Consultoría Tecnológica</h2>
                            <div class="services-card-info max-w-3xl w-full flex flex-col gap-5 xl:gap-8 text-opacity">
                                <div class="services-card-text">
                                    <p class="text-base lg:text-fluid-xs lg:leading-normal">Refinamos, asesoramos y definimos tu campaña o idea de negocio garantizando cumplir con el objetivo propuesto y generando valor para tus usuarios.</p>
                                </div>
                            </div>
                        </div>
                        <div class="services-card-image max-w-full md:max-w-96 w-full aspect-video md:aspect-square bg-slate-100">
                        </div>
                    </div>
                </div>
                <div class="services-card py-20 sticky top-0 z-[1] min-h-[460px] bg-[#13002f] text-white">
                    <div class="w-11/12 mx-auto flex justify-between gap-x-16 gap-y-8 flex-col md:flex-row">
                        <div class="services-card-text">
                            <h2 class="font-caustenRounded uppercase italic font-bold text-4xl lg:text-fluid-xl lg:leading-normal mb-5 xl:mb-8 text-fadeIn">_Outsourcing IT</h2>
                            <div class="services-card-info max-w-3xl w-full flex flex-col gap-5 xl:gap-8 text-opacity">
                                <div class="services-card-text">
                                    <p class="text-base lg:text-fluid-xs lg:leading-normal">Ponemos a disposición un equipo altamente calificado de tecnología, que te permita atender cualquier necesidad en tu agencia o algún proyecto de un cliente.</p>
                                </div>
                            </div>
                        </div>
                        <div class="services-card-image max-w-full md:max-w-96 w-full aspect-video md:aspect-square bg-slate-100">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    import gsap from "gsap";
    import ScrollTrigger from 'gsap/ScrollTrigger';
    import SplitText from 'gsap/SplitText';

    gsap.registerPlugin(ScrollTrigger, SplitText);

    const sectionServices = document.querySelector('#servicios');
    const imageWrap = document.querySelector('.image-wrap');
    const image = document.querySelector('.wide-image');
    const textFadeIn = sectionServices.querySelectorAll('.text-fadeIn');
    const textOpacity = sectionServices.querySelectorAll('.text-opacity');

    if (imageWrap && image) {
        const itemTL = gsap.timeline({
            scrollTrigger: {
                trigger: '.hero-img',
                start: 'top top',
                end: '+=100%',
                scrub: 0.3,
                pin: true,
                invalidateOnRefresh: true,
            },
        });

        itemTL
            .fromTo(
                imageWrap,
                { clipPath: 'inset(35%)' },
                { clipPath: 'inset(0%)', ease: 'sine.inOut' }
            )
            .fromTo(
                image,
                { scale: 1.1 },
                { scale: 1, ease: 'sine.inOut' },
                0
            );
    }

    gsap.utils.toArray(textOpacity).forEach((el) => {
        gsap.fromTo(el,
            {
                opacity: 0
            },
            {
            scrollTrigger: {
                trigger: el,
                start: "top 80%",
                toggleActions: "play reverse play reverse"
            },
                opacity: 1,
                duration: 1.5,
                ease: "sine.inOut"
            }
        );
    });

    gsap.utils.toArray(textFadeIn).forEach((el) => {
        gsap.from(el, {
            scrollTrigger: {
                trigger: el,
                start: "top 80%",
                toggleActions: "play reverse play reverse",
            },
            y: 50,
            opacity: 0,
            duration: 1,
            ease: "power2.out"
        });
    });

    // if (window.innerWidth >= 769) {
    //     document.fonts.ready.then(() => {

    //         const sectionServicesGrid = document.querySelectorAll('.services-grid');

    //         sectionServicesGrid.forEach((sectionGrid, indexGrid) => {

    //             const servicesBlocks = sectionGrid.querySelectorAll('.services-block');

    //             servicesBlocks.forEach((block, index) => {

    //                 const up = gsap.fromTo(
    //                     block,
    //                     {
    //                         opacity: 0,
    //                         y: 0, // Aumentado de 50 a 100 para un movimiento más evidente
    //                     },
    //                     {
    //                         opacity: 1,
    //                         y: 0,
    //                         duration: 1.5, // Ligeramente más larga para suavizar el efecto
    //                         ease: "sine.inOut", // Easing más dinámico para un movimiento natural
    //                         scrollTrigger: {
    //                             trigger: block,
    //                             start: "top 80%", // Comienza cuando el elemento está al 80% del viewport
    //                             end: "bottom 20%", // Termina cuando el elemento está al 20% del viewport
    //                             once: true, // Solo reproduce la animación al entrar
    //                         },
    //                     }
    //                 );

    //                 const split = new SplitText(block.querySelector('.services-text p'), {
    //                     type: "words",
    //                     wordsClass: "word"
    //                 });

    //                 const tl = gsap
    //                 .timeline({
    //                     scrollTrigger: {
    //                         trigger: sectionGrid,
    //                         start: "top top",
    //                         end: "+=150%",
    //                         scrub: .3,
    //                         pin: true,
    //                         invalidateOnRefresh: true,
    //                     }
    //                 })
    //                 .set(
    //                     split.words,
    //                     {
    //                         opacity: 1,
    //                         stagger: 0.1
    //                     },
    //                     0.1
    //                 );
    //             });
    //         });
    //     });
    // }
</script>